
body{
    background-color: #EAF6F6 ;

}
hr{
 
  border-style: dotted none none ;/*1 value means aply to all 4sides.. 2 means first wali topbottom 2nd leftright..3 means 1st wali top 2nd lftr8 3rd bottom*/
  /*or we can use more specific property border-top-style to change its top as below 2 steps*/
  /*border-style: none*/
  /*border-top-style: dotted*/
  border-color: grey;
  border-width: 5px;  /*size of dots*/
  height: 0;         /*ya na lkho tou default 0*/
  width: 5%;     /* width: 30%......it means 30% of webpage.. width:100px */

}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}

